.banner2{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('/assets/images/banner2.jpg');
    height: 75vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px;
}

.banner3{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('/assets/images/banner3.jpg');
    height: 75vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px;
}

.banner4{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('/assets/images/blog/b6.jpg');
    height: 75vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px;
}

.banner5{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('/assets/images/banner4.jpg');
    height: 75vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    padding: 10px 15px;
}
.banner6{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('/assets/images/anner6.jpg');
  height: 75vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
}


  .img {
    float: left;
    margin:0px 15px 15px 0px;
  }
  .img2 {
    float: right;
    margin:15px 0px 0px 15px;
  }
  .wrap-text {
    text-align: justify;
  }
 .form-label{
    font-size: 14px;
    font-weight: 600;
 }

 .select2-container--default .select2-selection--single .select2-selection__rendered{
    font-size: 16px !important;
font-weight: 500 !important; 
 }
 .select2-container--default .select2-selection--single{
  height: 40px !important;
  padding-top: 5px;
  border: 1px solid $text !important;
  border-radius: 3px !important;
 }
 .form-input{
    font-size: 14px;
    font-weight: 500;
    padding: 7px 10px;
    height: 40px;
    border: 1px solid $text;
    border-radius: 3px;
 }
 .no-border{
    border: none !important;
 }
 .pagination-link{
  padding: 10px 15px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  color: $primary !important;
 }
 .gift-card{
  position: relative;
 }
 .gift-card-img{
  height: 350px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 2px 18px 0px rgba(0, 0, 0, 0.3);
   border-radius: 3px;
 }
 .feature-tag{
  position: absolute;
  top: 0;
  left: 0;
  img{
    height: 120px;
  }
}
.gift-price{
  position: absolute;
    bottom: -20px;
    right: -20px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.247) !important;
    padding: 16px !important;
    font-size: 21px;
    width: 50%;
    background: #FFF !important;
    text-align: center !important;
    @media only screen and (max-width:767px){
      right: -5px;
    }
}
.gift-price p{
  color: #666 !important;
  font-size: 18px;
  font-weight: 500;
}
.gift-price h1{
  color: #009688 !important;
  font-size: 32px;
  font-weight: 500
}
.gift-price span{
  color: #666 !important;
  font-size: 16px;
  font-weight: 500;
}
.gift-price a{
  color: $primary !important;
  font-size: 16px;
  font-weight: 600;
}
.banner7{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('/assets/images/agency.jpg');
  height: 75vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
}
.text-row-li li{
  margin-bottom: 5px !important;
}
.banner8{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),url('/assets/images/trenino-del-bernina-panorama-lago.jpg');
  height: 75vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
}

.banner9{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.12), rgba(117, 19, 93, 1)),url('/assets/images/orario-trenino-bernina.jpg');
  height: 75vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
}
.statistics-table tr td {
padding: 20px !important;
border: 2px solid $primary;
background-color: transparent;
font-size: 15px;
font-weight: 500;
}

.banner10{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.12), rgba(117, 19, 93, 1)),url('/assets/images/capacita-tecnica-trenino-bernina.jpg');
  height: 75vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
}

.banner11{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.12), rgba(117, 19, 93, 1)),url('/assets/images/treno-bernina-servizio-bernina-express.jpg');
  height: 75vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
}
.banner12{
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.12), rgba(117, 19, 93, 1)),url('/assets/images/ferrovia-retica-treno.jpg');
  height: 75vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
}